body {
  width:960px;
  margin: 10px auto 0 auto;
}

.button {
  color: #484aa2;
  padding: 3px 7px;
  cursor: pointer;
}

.button:hover {
  border-radius: 2px;
  background: #888;
  color: #fff;
}

.directory_listing a.sketch_title {
  padding-left: 30px;
}

#logo  {
  margin-left: 10px;
}

#ide  {
  margin: 10px auto 0 auto;
  min-height: 500px;
}

.IDE-dropdown {
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.IDE-dropdown .content {
  padding: 20px;
}

.IDE-dropdown h4 {
  padding: 10px 0;
  width: 100%;
  background: #eee;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#IDE-buttons  {
  margin-top:5px;
  padding: 5px;
  background: #EEEEEE;
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}

.IDE-button  {
  cursor: pointer;
  display: inline;
}

.IDE-button img {
  border: 2px solid #EEEEEE;
  height: 50px;
  width: 50px;
}

.IDE-button:hover img  {
  background: #FFFFEE;
  border: 2px dotted #A9A9A9;
}

#IDE-directory {
    margin: 10px auto 0 auto;
    height: 470px;
    max-height: 470px;
    overflow: scroll;
    border: 1px solid #a9a9a9;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

#IDE-directory h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 2em;
}


#IDE-directory .inactive:hover {
    background: #efefff;
}

#IDE-directory .project_link {
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#IDE-directory .project_link a {
    color: #000;
}

#IDE-directory a {
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #55f
}

#IDE-directory .active {

    background: #eee;
}

#IDE-editor { 
  border: 1px solid #A9A9A9;
  white-space:pre;
  width:958px;;
  height: 450px;
}

#IDE-message  {
  line-height:14px;
  padding-left: 12px;
  float: left;
  width:70%;
  text-align: left;
  font-family: courier,monospace;
  font-size:10pt;
  color: #a9a9a9;
}

#IDE-title  {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #999999;
  text-align: right;
  cursor: pointer;
}