body {
  width:960px;
  margin: 10px auto 0 auto;
}

.button {
  padding: 3px 7px;
  cursor: pointer;
}

.button:hover {
  border-radius: 2px;
  background: #888;
  color: #fff;
}

.directory_listing a.sketch_title {
  padding-left: 30px;
}

#logo  {
  margin-left: 10px;
}

#ide  {
  margin: 10px auto 0 auto;
  width: 100%;
  min-height: 500px;
}

.IDE-dropdown {
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.IDE-dropdown .content {
  padding: 20px;
}

.IDE-dropdown h4 {
  padding: 10px 0;
  width: 100%;
  background: #eee;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.IDE-dropdown h5 {
  margin-bottom: 10px;
}

#ide header {
  margin-top:5px;
  padding: 5px;
  background: #ddd;
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  min-height: 50px;
}

#IDE-buttons  {
  float: left;
  width: 50%;
}

#IDE-title  {
  line-height: 50px;
  float: right;
  width: 40%;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  margin-right: 10px;
}

.IDE-button  {
  font-size:25pt;
  cursor: pointer;
  display: inline;
}

.IDE-button:hover  {
  border-radius: 5px;
  color: #ffe;
  //background: #FFFFEE;
  //border: 2px dotted #A9A9A9;
}

#IDE-editor { 
  border: 1px solid #A9A9A9;
  white-space:pre;
  width:958px;;
  height: 450px;
}

#IDE-message-container  {
  min-height: 15px;
  line-height:14px;
  padding-left: 12px;
  width:70%;
  text-align: left;
  font-family: courier,monospace;
  font-size:10pt;
  color: #a9a9a9;
}

#IDE-directory {
    width: 100%;
    margin: 10px auto 0 auto;
    height: 470px;
    max-height: 470px;
    border: 1px solid #a9a9a9;
    border-radius: 5px 5px 0 0;
}

#IDE-directory #directory {
    max-height: 390px;
    overflow: auto;
}

#IDE-directory header {
    min-height: 50px;
    background: #eee;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: arial, sans-serif;
    min-height: 50px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#IDE-directory #buttons {
    width:50%;
    padding-left: 10px;
    float: left;
}

#IDE-directory h2 {
    line-height: 50px;
    width: 40%;
    font-size: 1.5em;
    float: right;
    text-align: right;
    margin-right: 10px;
}

#IDE-directory .inactive:hover {
    background: #efefff;
}

#IDE-directory .project_link {
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#IDE-directory .project_link a {
    color: #000;
}

#IDE-directory a {
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #55f
}

#IDE-directory .active {
    background: #eee;
}