body {

}

#logo  {
  margin-left: 10px;
}

#ide  {
  width:960px;
  margin: 10px auto 0 auto;;

}

#buttons  {
  margin-top:10px;
  padding: 5px;
  background: #EEEEEE;
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}

.button  {
  border: 2px solid #EEEEEE;
}

.button:hover  {
  background: #FFFFEE;
  border: 2px dotted #A9A9A9;

}
    

#editor { 
  border-top: 1px solid #A9A9A9;
  white-space:pre;
  width:960px;;
  height: 450px;
}

#fancybox-wrap  {
  z-index:500000;
}      